*{
    margin: 0;
    padding: 0;
    border: 1px;
    box-sizing: border-box;
}
.bg{
   background-image:url(https://ik.imagekit.io/em9ewcgec/lung.png?updatedAt=1712853321430);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}