.background{
    background-image:url(https://ik.imagekit.io/4z8covdo9/Full%20stack/todolistbg.png?updatedAt=1700761069523) ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    width: 550px;
}
.h1{
    color: white;
    font-size: 30px;
    text-align: center;
}
.p1{color: white;
    font-size: 20px;
    text-align: center;}

.h3{
    color: white;
    font-weight: bold;
    font-size: 24px
}    

.p2{
    color: white;
    font-size: 20px;
}

.btncontainer{
    text-align: center;
}

.btn{
    background-color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}